{% extends "base.html" %}
{% block content %}
<div class="container mt-3">
    <!-- Handle creation of ROW -->
    {% set properties = device.get_properties() %}
    {% set abilities = device.get_capability() %}
    <div class="row mt-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ device.name }}</h5>
                <br>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Address</th>
                        <th scope="col">Last pinged</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ device.type }}</td>
                        <td>{{ device.address }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Capability</th>
                        <th scope="col">Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ability,value in abilities.items() %}
                    <tr>
                        <td>{{ ability }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <a href="/devices" class="btn btn-primary mt-3" style="display:inline">Return to devices</a>
                <form action="/device/{{ device.uuid }}" method="POST" style="display:inline">
                    <button type="submit" class="btn btn-danger">Delete Device</button>
                </form>
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Current Statistics</h5>

                {% set properties = device.get_properties() %}
                <table class="table">
                    <thead>
                    <tr>
                        {% for key in properties.keys() %}
                        <th scope="col">{{ key }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        {% for value in properties.values() %}
                        <td scope="col">{{ value }}</td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body">
                <h5>Historic Statistics</h5>
                <small>Select a datetime in range below and page loads with only data points from that time</small>
                <div class="container mt-2">
                    <form action="/device/{{ device.uuid }}" method="GET">
                        <div class="row">
                            <div class="col-sm">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="start_time_prepend">Start Time</span>
                                    </div>
                                    <input type="datetime-local" class="form-control" name="start_time" id="start_time"
                                           style="display:inline">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="end_time_prepend">End Time</span>
                                    </div>
                                    <input type="datetime-local" class="form-control" name="end_time" id="end_time"
                                           style="display:inline">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">View times</button>
                    </form>
                </div>
                <hr>
                {% set total_power = dev_history.sum_usage(start_time,end_time) %}
                {% set average = dev_history.mean(start_time,end_time) %}
                {% set data_points = dev_history.length(start_time, end_time) %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Total Power Usage</th>
                        <th scope="col">Average Power</th>
                        <th scope="col">Gathered data points</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ total_power }}</td>
                        <td>{{ average }}</td>
                        <td>{{ data_points }}</td>
                    </tr>
                    </tbody>
                </table>
                <hr>
                <img src="/device/{{ device.uuid }}/usage_graph.png?start_time={{ start_time_raw }}&end_time={{ end_time_raw }}"
                     alt="Graph of wattage of device">
            </div>
        </div>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">Raw Data</h5>
                <table class="table">
                    {% for point in dev_history.raw_data()%}
                    <tbody>
                    <tr>
                    {% for value,data in point.items() %}
                        <td>{{ value }}</td>
                        <td>{{ data }}</td>
                    {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}